In [13]:
import pandas as pd

df = pd.read_csv("Statistik der allgemeinbildenden Schulen (Bundesländer, Geschlecht, 2013- 2022).csv", sep=";")

In [14]:
df.head()

,Bundesland,Schulabschlüsse,männlich,weiblich,Insgesamt,männlich.1,weiblich.1,Insgesamt.1,männlich.2,weiblich.2,...,Insgesamt.6,männlich.7,weiblich.7,Insgesamt.7,männlich.8,weiblich.8,Insgesamt.8,männlich.9,weiblich.9,Insgesamt.9
0,Baden-Württemberg,Ohne Hauptschulabschluss,3539,2329,5868,3593,2175,5768,3712,2413,...,5612,3860,2349,6209,4240,2679,6919,4202,2718,6920
1,NaN,Hauptschulabschluss,13031,9642,22673,12936,9269,22205,12668,9190,...,17449,9812,6383,16195,9648,6529,16177,9566,6529,16095
2,NaN,Mittlerer Schulabschluss,29439,27797,57236,29340,27950,57290,29055,27075,...,50667,24771,23688,48459,24170,23162,47332,24839,23626,48465
3,NaN,Fachhochschulreife,135,153,288,147,198,345,169,193,...,389,194,194,388,187,190,377,177,176,353
4,NaN,Allgemeine Hochschulreife,15324,18207,33531,16348,18780,35128,15935,18696,...,29543,12939,15506,28445,13088,16293,29381,12998,15634,28632

In [15]:
df = df.ffill() # Replace NaN with the last available value
df

,Bundesland,Schulabschlüsse,männlich,weiblich,Insgesamt,männlich.1,weiblich.1,Insgesamt.1,männlich.2,weiblich.2,...,Insgesamt.6,männlich.7,weiblich.7,Insgesamt.7,männlich.8,weiblich.8,Insgesamt.8,männlich.9,weiblich.9,Insgesamt.9
0,Baden-Württemberg,Ohne Hauptschulabschluss,3539,2329,5868,3593,2175,5768,3712,2413,...,5612,3860,2349,6209,4240,2679,6919,4202,2718,6920
1,Baden-Württemberg,Hauptschulabschluss,13031,9642,22673,12936,9269,22205,12668,9190,...,17449,9812,6383,16195,9648,6529,16177,9566,6529,16095
2,Baden-Württemberg,Mittlerer Schulabschluss,29439,27797,57236,29340,27950,57290,29055,27075,...,50667,24771,23688,48459,24170,23162,47332,24839,23626,48465
3,Baden-Württemberg,Fachhochschulreife,135,153,288,147,198,345,169,193,...,389,194,194,388,187,190,377,177,176,353
4,Baden-Württemberg,Allgemeine Hochschulreife,15324,18207,33531,16348,18780,35128,15935,18696,...,29543,12939,15506,28445,13088,16293,29381,12998,15634,28632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Thüringen,Ohne Hauptschulabschluss,714,404,1118,743,454,1197,846,440,...,1302,927,526,1453,1039,621,1660,1150,706,1856
85,Thüringen,Hauptschulabschluss,1340,944,2284,1401,928,2329,1394,1076,...,2547,1545,982,2527,1511,1076,2587,1609,1131,2740
86,Thüringen,Mittlerer Schulabschluss,3832,3689,7521,3848,3610,7458,3844,3613,...,7912,4137,3942,8079,4128,3917,8045,4455,4201,8656
87,Thüringen,Allgemeine Hochschulreife,2273,2726,4999,2591,2991,5582,2601,3331,...,5734,2374,3090,5464,2384,3135,5519,2321,2982,5303
88,Thüringen,Insgesamt,8159,7763,15922,8583,7983,16566,8685,8460,...,17495,8983,8540,17523,9062,8749,17811,9535,9020,18555

In [ ]:
# Renaming the first columns to have a consistent index after each column
df.rename(columns= {'männlich': 'männlich.0', 'weiblich':'weiblich.0', 'Insgesamt':'Insgesamt.0'}, inplace=True)

In [46]:
df.head()

,Bundesland,Schulabschlüsse,männlich.0,weiblich.0,Insgesamt.0,männlich.1,weiblich.1,Insgesamt.1,männlich.2,weiblich.2,...,Insgesamt.6,männlich.7,weiblich.7,Insgesamt.7,männlich.8,weiblich.8,Insgesamt.8,männlich.9,weiblich.9,Insgesamt.9
0,Baden-Württemberg,Ohne Hauptschulabschluss,3539,2329,5868,3593,2175,5768,3712,2413,...,5612,3860,2349,6209,4240,2679,6919,4202,2718,6920
1,Baden-Württemberg,Hauptschulabschluss,13031,9642,22673,12936,9269,22205,12668,9190,...,17449,9812,6383,16195,9648,6529,16177,9566,6529,16095
2,Baden-Württemberg,Mittlerer Schulabschluss,29439,27797,57236,29340,27950,57290,29055,27075,...,50667,24771,23688,48459,24170,23162,47332,24839,23626,48465
3,Baden-Württemberg,Fachhochschulreife,135,153,288,147,198,345,169,193,...,389,194,194,388,187,190,377,177,176,353
4,Baden-Württemberg,Allgemeine Hochschulreife,15324,18207,33531,16348,18780,35128,15935,18696,...,29543,12939,15506,28445,13088,16293,29381,12998,15634,28632

In [50]:
new_df = pd.DataFrame(columns= ['Bundesland', 'Schulabschlüsse', 'Geschlecht', 'Jahr', 'Wert'])

year_list = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

for index, row in df.iterrows():

    # Skipping the 'Total' rows
    if row.Schulabschlüsse == "Insgesamt":
        continue

    # For each column in the row
    # Skip the first two columns which are constant
    for column, value in row[2:].items():

        # Skip all "Insgesamt" columns
        if "Insgesamt" in column :
            continue
 
        # The index is the lenght of the data frame
        row_idx = new_df.shape[0]

        # Gender - without .1, .2, usw.
        gender = column.split('.')[0]

        # Select the year witht the index
        year = year_list[ int(column.split('.')[1]) ]

        # Add a new row with the values
        new_df.loc[row_idx] = [row.Bundesland, row.Schulabschlüsse, gender, year, value]

In [51]:
new_df

             Bundesland            Schulabschlüsse Geschlecht  Jahr  Wert
0     Baden-Württemberg   Ohne Hauptschulabschluss   männlich  2013  3539
1     Baden-Württemberg   Ohne Hauptschulabschluss   weiblich  2013  2329
2     Baden-Württemberg   Ohne Hauptschulabschluss   männlich  2014  3593
3     Baden-Württemberg   Ohne Hauptschulabschluss   weiblich  2014  2175
4     Baden-Württemberg   Ohne Hauptschulabschluss   männlich  2015  3712
...                 ...                        ...        ...   ...   ...
1455          Thüringen  Allgemeine Hochschulreife   weiblich  2020  3090
1456          Thüringen  Allgemeine Hochschulreife   männlich  2021  2384
1457          Thüringen  Allgemeine Hochschulreife   weiblich  2021  3135
1458          Thüringen  Allgemeine Hochschulreife   männlich  2022  2321
1459          Thüringen  Allgemeine Hochschulreife   weiblich  2022  2982

[1460 rows x 5 columns]

In [53]:
new_df.to_csv('fixed - Statistik der allgemeinbildenden Schulen.csv', sep=';', index=False)